html,
body {
  background: #222;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  cursor: crosshair;
}

.star {
  width: 2px;
  height: 2px;
  background: white;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.screen_shake {
  --shake-amount: 5px;
  animation: screen_shake 0.25s linear forwards;
}

@keyframes screen_shake {
  20% {
    margin-left: var(--shake-amount);
  }
  40% {
    margin-left: calc(-1 * var(--shake-amount));
  }
  60% {
    margin-left: var(--shake-amount);
  }
  80% {
    margin-left: calc(-1 * var(--shake-amount));
  }
  100% {
    margin-left: var(--shake-amount);
  }
}

* {
  user-select: none;
}

#ship {
  width: 15vmax;
  aspect-ratio: 1/1;
  transform-origin: 50% 50%;
  border-radius: 50%;
}

#ship:before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at 0% 50%,
      MediumSeaGreen 25%,
      transparent 25%
    ),
    radial-gradient(circle at 80% 30%, MediumSeaGreen 25%, transparent 25%),
    radial-gradient(circle at 110% 60%, MediumSeaGreen 25%, transparent 25%),
    radial-gradient(circle at 50% 125%, white 25%, transparent 25%) deepskyblue;
  border-radius: 50%;
  transform-origin: 50% 50%;
  transform: var(--anti-spin);
  z-index: -1;
}

#ship:after {
  content: "";
  position: absolute;
  left: 2.5vmax;
  top: -5vmax;
  width: 10vmax;
  height: 5vmax;
  background-image: url("groot.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#bullet_point {
  position: absolute;
  width: 1px;
  aspect-ratio: 1/1;
  left: 45%;
  top: -4vmax;
}

#stats {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
}

#hits,
#kills_counter {
  margin-bottom: 10px;
}

.bullet {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  left: -8px;
  border-radius: 50%;
  transform-origin: 50% 8px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  outline-offset: 5px;
  outline: 1px solid red;
}

.asteroid {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  background-image: url("rocks.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation: roll 3s linear infinite;
  z-index: -1;
}

@keyframes roll {
  100% {
    transform: rotate(360deg);
  }
}

.explode {
  animation-play-state: paused;
  pointer-events: none;
  border: 2px solid transparent;
  background: radial-gradient(circle at 50% 50%, white 3px, transparent 3px),
    radial-gradient(circle at 30% 53%, white 3px, transparent 3px),
    radial-gradient(circle at 90% 60%, white 3px, transparent 3px),
    radial-gradient(circle at 25% 28%, white 3px, transparent 3px),
    radial-gradient(circle at 23% 75%, white 3px, transparent 3px),
    radial-gradient(circle at 72% 25%, white 3px, transparent 3px),
    radial-gradient(circle at 75% 77%, white 3px, transparent 3px);
  animation: explode 0.25s linear forwards;
  z-index: 999999;
}

@keyframes explode {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
